@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  background: rgb(200, 220, 231);
  color: black;
  font-family: "Poppins";
  margin: 0;
  padding: 14em 14em 14em 20em;
}

// .circle {
//   position: absolute;
//   top: 200px;
//   left: 200px;
//   width: 400px;
//   height: 400px;
//   background-color: rgb(160, 59, 255);
//   border-radius: 50%;
//   z-index: -1;
// }

img {
  position: absolute;
  z-index: -2;
  height: 100vh;
  top: 0;
  left: 0;
}

.container {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3em;
  border-radius: 3em;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);

  h2 {
    font-size: 1.2em;
  }
  h1,
  h2 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

h1 {
  font-size: 4em;
  clip-path: inset(0 0 0 0);
}
